<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472139794908-5mgbhk6j2o33v8hknl4a6403k5b33v08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472139794908-5mgbhk6j2o33v8hknl4a6403k5b33v08</string>
	<key>API_KEY</key>
	<string>AIzaSyB0tpEZ2QyedsmWwCgSMrioLV1s4pV2294</string>
	<key>GCM_SENDER_ID</key>
	<string>472139794908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aipictWin</string>
	<key>PROJECT_ID</key>
	<string>musika-ba16a</string>
	<key>STORAGE_BUCKET</key>
	<string>musika-ba16a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472139794908:ios:4cc3b0d628052d55b36719</string>
</dict>
</plist>